<div class="center-container">
  <div class="h-100 row align-items-center">
    <div class="col">
      <div>Welcome {{username}}</div>
      <label>Game's Name: </label>
      <input id="gamename" class="form-control" [(ngModel)]="gamename" (keydown.enter)="join()">
      <button id="join" type="button" class="btn btn-success btn-block mt-1" [disabled]="!gamename" (click)="join()">Join</button>
      <button id="create" type="button" class="btn btn-primary btn-block mt-1" [disabled]="!gamename" (click)="create()">Start a New Game</button>
      <div *ngFor="let msg of messages">
        <span class="badge"
          [ngClass]="{'badge-danger': msg.type=='error', 'badge-info': msg.type=='chat', 'badge-warning': msg.type=='warning'}">
          {{msg.type}} </span>

        <span *ngIf="msg.type=='chat'" class="text-info"> {{msg.from}}:</span>

        {{msg.message}}
      </div>
    </div>

  </div>
</div>