<div [ngClass]="{nightbg: isNight, daybg: !isNight}">

  <ng-template #gameOver>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Game Over</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{endResult}}
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="modalRef.hide()">OK!</button>
      </div>
    </div>
  </ng-template>

  <ng-template #runSheriffOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">警长竞选(Run Sheriff)🚔</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        你要竞选警长吗？(Do you want to run the Sheriff?)
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="sendVote(user.name)">要!</button>
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不要</button>
      </div>
    </div>
  </ng-template>

  <ng-template #passBadgeOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">警徽(badge)🚔</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        你死了，要传递警徽吗？(You are dead, pass the sheriff badge?)
        <div>
          <button type="button" class="btn btn-outline-primary m-3" *ngFor="let user of game.users"
            (click)="sendVote(user.name)">
            {{user.name}}
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不要(No)</button>
      </div>
    </div>
  </ng-template>


  <ng-template #userRole>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">你的身份(Your role)</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendStart()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>{{sio.roleLabel[user.role]}}({{user.role}})</h5>
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="sendStart()">记住啦，开始吧 (Let's GO!)</button>
      </div>
    </div>
  </ng-template>

  <ng-template #saveOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">解药😇</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="user.antidote && user.alive && user.name !== user.lastAttacked">{{user.lastAttacked}} 被咬了，救吗？(Use
          antidote?)</div>
        <div *ngIf="!user.antidote">没有解药了(No more antidote)</div>
        <div *ngIf="user.name === user.lastAttacked">不能救自己(Cannot save self)</div>
      </div>
      <div class="modal-footer">
        <button *ngIf="user.antidote && user.alive && user.name !== user.lastAttacked" id="roleready" type="button"
          class="btn btn-success" (click)="sendVote(user.lastAttacked)">救(Save)
        </button>
        <button type="button" class="btn btn-secondary" (click)="sendReady()">算了(Forget it)</button>
      </div>
    </div>
  </ng-template>

  <ng-template #poisonOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">毒药🤮</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div *ngIf="user.poison && user.alive">
          <h3>要毒谁吗？(Poison?)</h3>
          <div>
            <button type="button" class="btn btn-outline-primary m-3" *ngFor="let u of game.users"
              (click)="sendVote(u.name)" [disabled]="!u.alive || u.name == user.name">
              {{u.name}}
            </button>
          </div>
        </div>
        <div *ngIf="!user.poison || !user.alive">
          <h3>没法下毒了(No way to poison)</h3>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="sendReady()">算了(Forget it)</button>
      </div>
    </div>
  </ng-template>

  <ng-template #revengeOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">猎人开枪🔫</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        你死了要开枪带走谁吗？(You are dead. Do you want to kill someone?)
        <div>
          <button type="button" class="btn btn-outline-primary m-3" *ngFor="let u of game.users"
            (click)="sendVote(u.name)" [disabled]="!u.alive || u.name == user.name">
            {{u.name}}
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不开枪(No)</button>
      </div>
    </div>
  </ng-template>
  <ng-template #hunterOk>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">猎人开枪🔫</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        你不能开枪(You cannot shoot now)
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="sendReady()">好吧(Alright)</button>
      </div>
    </div>
  </ng-template>

  <div *ngIf="game">


    <div *ngIf="user" class="nav my-2 p-0 d-flex justify-content-between align-items-center"
      [ngClass]="{'text-white': isNight, 'bg-dark': isNight, 'text-dark': !isNight, 'bg-light': !isNight}">
      <button type="button" id="myrole" class="btn btn-primary nav-item" (click)="openModal('userRole')">我的身份</button>
      <div class="text-center nav-item">
        <span *ngIf="isNight">🌜</span>
        <span *ngIf="!isNight">😎</span>
        {{game.round}} - {{sio.stateLabel[currentState]}}({{currentState}})
      </div>
      <div class="nav-item">
        <button *ngIf="user.isOrganizer" type="button" id="restart" class="btn btn-warning"
          (click)="restartGame()">从来(Restart)</button>
        <button type="button" id="mute" class="btn btn-info" (click)="toggleMute()">
          <span *ngIf="mute">🔈</span><span *ngIf="!mute">🔇</span>
        </button>
      </div>

    </div>

    <div *ngIf="user" class="alert" [ngClass]="{'alert-danger': !user.alive, 'alert-success': user.alive}">
      {{user.name}} - {{user.role}}

      <span *ngIf="user.alive"> 😀 </span>
      <span *ngIf="!user.alive"> 😵 </span>
      <span *ngIf="user.sheriff"> 🚔 </span>

      {{currentRound}}-{{sio.stateLabel[currentState]}}
    </div>

    <div *ngIf="this.currentState == 'roleCheck' && !this.sio.gameStatus.readySent" class="alert alert-primary"
      (click)="openModal('userRole')">
      请检查你的身份 Please check your role
    </div>
    <div *ngIf="this.currentState !== 'roleCheck' || this.sio.gameStatus.readySent" class="row m-3">
      <div class="col-6 p-1" *ngFor="let user of game.users" (click)="sendVote(user.name)">
        <div class="card shadow"
          [ngClass]="{'text-white': isNight, 'bg-dark': isNight, 'text-dark': !isNight, 'bg-light': !isNight}">
          <div class="row no-gutters">
            <div class="col-4">
              <img *ngIf="user.alive" [src]="user.avatar + '.svg'" class="card-img">
              <img *ngIf="!user.alive" [src]="user.avatar + '-dead.svg'" class="card-img">
            </div>
            <div class="col-8">
              <div class="card-body">
                {{user.name}}
                <span *ngIf="user.isOrganizer">🚦</span>
                <span *ngIf="user.sheriffRunning">✋</span>
                <span *ngIf="user.sheriff">🚔</span>
                <span *ngIf="!user.alive">😵</span>
                <span *ngIf="user.selected">✅</span>
                <!-- <button type="button" class="btn btn-outline-primary" (click)="sendVote(user.name)">Select</button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="messages.length" class="notification-footer">
      <div *ngFor="let message of messages" class="alert"
        [ngClass]="{'alert-info':message.level == 'info', 'alert-warning': message.level == 'warning', 'alert-danger': message.level == 'danger'}"
        @messageInOutTrigger>
        {{message.message}}
        <button type="button" class="close pull-right" aria-label="Close" (click)="dismissMessage(message.id)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <app-action-menu [actions]="actionButtons">

    </app-action-menu>
  </div>

</div>