<div class="container">

  <ng-template #runSheriffOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">警长竞选</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        你要竞选警长吗？
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="sendVote(user.name)">要!</button>
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不要</button>
      </div>
    </div>
  </ng-template>

  <ng-template #userRole>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">My Info</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You are {{user.role}}!
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="sendReady()">I'm Ready. Let's go!</button>
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
      </div>
    </div>
  </ng-template>

  <ng-template #saveOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">解药</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{user.lastAttacked}} 被咬了，救吗？
      </div>
      <div class="modal-footer">
        <button id="roleready" type="button" class="btn btn-success" (click)="sendVote(user.lastAttacked)">好</button>
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不</button>
      </div>
    </div>
  </ng-template>

  <ng-template #poisonOrNot>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">毒药</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="sendReady()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        要毒谁吗？
        <div>
          <button type="button" class="btn btn-outline-primary m-3" *ngFor="let user of game.users" (click)="sendVote(user.name)" >
            {{user.name}}
          </button>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="sendReady()">不</button>
      </div>
    </div>
  </ng-template>

  <div *ngIf="game">
    <div class="text-center">
      <span>Day {{game.round}}</span>
    </div>

    <div *ngIf="user">
      <button type="button" id="myrole" class="btn btn-info" (click)="openModal(userRole)">{{user.name}}</button>

      <button type="button" id="test1" class="btn btn-info" (click)="openModal(saveOrNot)">save</button>
      <button type="button" id="test2" class="btn btn-info" (click)="openModal(poisonOrNot)">poison</button>
      <button type="button" id="test3" class="btn btn-info" (click)="openModal(runSheriffOrNot)">run</button>
      <div> {{currentRound}} {{currentState}} {{user.role}} </div>
    </div>

    <div class="row p-3">
      <div class="col-6 card shadow" *ngFor="let user of game.users">
        <div class="card-body">
          {{user.name}}
          <span *ngIf="user.sheriff">(S)</span>
          <span *ngIf="!user.alive">(D)</span>  
          <button type="button" class="btn btn-outline-primary" (click)="sendVote(user.name)">Select</button> 
        </div>
      </div>
    </div>
    <pre>
user:      {{user | json}}

opt:      {{gameOpt | json}}
    </pre>
  </div>

</div>