<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">狼人杀</h1>
    <p class="lead">Wolfman Kill</p>
  </div>

  <div>
    <div class="form-group">
      <label for="name">Your Name: </label>
      <input type="text" id="name" class="form-control" [(ngModel)]="sess.username">
    </div>
    <div class="form-group">
      <label for="game">Game Name: </label>
      <input id="gaem" class="form-control" [(ngModel)]="sess.gamename">
    </div>
    <div class="form-group">
      <button class="btn btn-primary mr-2" (click)="joinGame()" [disabled]="!sess.username || !sess.gamename"> JOIN </button>
      <button class="btn btn-success mr-2" (click)="newGame()" [disabled]="!sess.username || !sess.gamename"> New
        Game</button>
      <button class="btn btn-secondary mr-2" (click)="refreshGame()">Refresh</button>
      <button class="btn btn-secondary" (click)="me()">About Me</button>
    </div>
    <div class="form-group">
      <label for="chat">Chat: </label>
      <div class="input-group">
        <input id="chat" class="form-control" [(ngModel)]="chatMessage">
        <div class="input-group-append">
          <button class="btn btn-primary" [disabled]="chatMessage == ''" (click)="sendChat()">Send</button>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="game && game.users">
    <h3>Users</h3>
    <div *ngFor="let user of game.users">
      <span class="badge">{{user.name}}</span> <span *ngIf="user.isOrganizer">(organizer)</span>
    </div>
  </div>

  <div>
    <h3>logs</h3>
    <div *ngFor="let msg of messages">
        <span class="badge" [ngClass]="{'badge-danger': msg.type=='error', 'badge-info': msg.type=='chat'}" > {{msg.type}} </span> 
        
        <span *ngIf="msg.type=='chat'" class="text-info"> {{msg.from}}:</span> 
        
        {{msg.message}}
    </div>
  </div>
</div>

<router-outlet></router-outlet>