<div class="container">
  <ng-template #aboutMe>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">My Info</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Your name is {{sess.username}}!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="clickOk()">OK</button>
        <button type="button" class="btn btn-secondary" (click)="clickCancel()">Cancel</button>
      </div>
    </div>
  </ng-template>
  <div class="jumbotron">
    <h1 class="display-4">狼人杀</h1>
    <p class="lead">Wolfman Kill</p>
  </div>

  <div>
    <div>Welcome {{sess.username}}</div>
    <div>Game: {{sess.gamename}}</div>

    <div class="form-group">
      <button class="btn btn-danger mr-2" (click)="leaveGame()"> Leave
        Game</button>
     
      <button type="button" class="btn btn-secondary mr-2" (click)="showMyRole()">About Me</button>

      <button class="btn btn-secondary mr-2" (click)="voice1()">V1</button>
      <button class="btn btn-secondary mr-2" (click)="voice2()">V2</button>
      <button class="btn btn-secondary" (click)="logout()">Log out</button>
    </div>

  </div>
  <div *ngIf="game && game.users">
    <h3>Users</h3>
    <span *ngFor="let user of game.users">
      <span class="badge badge-info">{{user.name}}</span> <span *ngIf="user.isOrganizer">(organizer)</span>
    </span>
  </div>

  <hr>
  <div *ngIf="myself.isOrganizer">
    
    <form [formGroup]="optForm">

      <div class="form-group">
        <label>游戏类型：</label>
        <div class="btn-group btn-block" btnRadioGroup formControlName="gameType">
          <label btnRadio="killAll" class="btn btn-primary" tabindex="0" role="button">屠城</label>
          <label btnRadio="killSide" class="btn btn-primary" tabindex="0" role="button">屠边</label>
        </div>
      </div>
      <div class="form-group">
        <label>狼人数：</label>
        <div class="btn-group btn-block" btnRadioGroup formControlName="wolfCount">
          <label [btnRadio]="1" class="btn btn-primary" tabindex="0" role="button">1</label>
          <label [btnRadio]="2" class="btn btn-primary" tabindex="0" role="button">2</label>
          <label [btnRadio]="3" class="btn btn-primary" tabindex="0" role="button">3</label>
          <label [btnRadio]="4" class="btn btn-primary" tabindex="0" role="button">4</label>
        </div>
      </div>
      <div class="form-group">
        <label>神民：</label>
        <div class="btn-group btn-block">
          <label class="btn btn-primary" [class.active]="optForm.value.witch" formControlName="witch" btnCheckbox
            tabindex="0" role="button">女巫</label>
          <label class="btn btn-primary" [class.active]="optForm.value.prophet" formControlName="prophet" btnCheckbox
            tabindex="0" role="button">预言家</label>
          <label class="btn btn-primary" [class.active]="optForm.value.hunter" formControlName="hunter" btnCheckbox
            tabindex="0" role="button">猎人</label>
          <label class="btn btn-primary" [class.active]="optForm.value.guard" formControlName="guard" btnCheckbox
            tabindex="0" role="button">守卫</label>
          <label class="btn btn-primary" [class.active]="optForm.value.idiot" formControlName="idiot" btnCheckbox
            tabindex="0" role="button">白痴</label></div>
      </div>
      <button type="button" class="btn btn-success btn-block mt-5" [disabled]="game && game.users.length < 1" (click)="startGame()">Start
        Game</button>
    </form>
    {{optForm.value | json}}
  </div>

  <hr>
  <div class="mb-3">
    <div style="overflow: scroll; height: 100px;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
      <div *ngFor="let msg of messages">
        <span class="badge"
          [ngClass]="{'badge-danger': msg.type=='error', 'badge-info': msg.type=='chat', 'badge-warning': msg.type=='warning'}">
          {{msg.type}} </span>

        <span *ngIf="msg.type=='chat'" class="text-info"> {{msg.from}}:</span>

        {{msg.message}}
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="chat">Chat: </label>
    <div class="input-group">
      <input id="chat" class="form-control" [(ngModel)]="chatMessage" (keyup.enter)="chatOnEnter()">
      <div class="input-group-append">
        <button class="btn btn-primary" [disabled]="chatMessage == ''" (click)="sendChat()">Send</button>
      </div>
    </div>
  </div>
</div>